.li-nav{
    list-style: none;
}



.li-nav a{
    text-decoration: none;
    display: flex;
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-size: 30px;
    color: #fff;
    margin: 15px;
    font-weight: bold;
}


