.nav-global {
    display: flex;
    justify-content: space-around;
    margin: 10px;
}

.hero-section {
    min-height: calc(100vh - 110px);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.hero-img {
    width: 50vh;
    height: 35vh;
    border: 20px inset #4d7ca8;
    margin: 80px;
    border-radius: 50px;
}

.carrusel {
    margin: 60px;
}