.carrusel {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

/* .carrusel-button {
    width: 70px;
    color: #fff;
    background-color: grey;
    border-radius: 10px;
    border-color: #fff;
    margin: 5px;
    background-color: black;
    transition-duration: 1s;
    cursor: pointer;
    padding: 3px;
} */

/* .carrusel-button:hover {
    background-color: indigo;
} */


